@import url('variables.css');
@import url('base.css');
@import url('components.css');
@import './animations.css';
@import './visualization.css';
@import './tabs.css';
@import './dashboard.css';
@import './tools.css';
@import './table_results.css';
@import url('responsive.css');

/* === Estilos Específicos de la App === */
/* Aquí pueden ir estilos que no encajen en los otros módulos */
@import './layout.css';
